<div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-12 text-box">
            <h1 class="title text-center mb-5">{{title}}</h1>
            <p class="text text-center">{{subTitle}}</p>
        </div>
        <div class="col-12">
            <div class="jumbotron" [ngStyle]="{backgroundImage: 'url('+ image +')'}"></div>
        </div>
        <div class="col-12 text-content">
            <h2>{{title2}}</h2>
            <p>{{subTitle2}}</p>
        </div>
        <div class="col-12 form mt-5">
          <!--TODO form validation-->
          <form #sendEmail = "ngForm" (ngSubmit) = "onClickSubmit(sendEmail.value)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="naam" ngModel>
            </div>
            <div class="form-group">
              <label for="company">Company</label>
              <input type="text" class="form-control" id="company" name="company" aria-describedby="Company" ngModel>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" ngModel>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="number" class="form-control" id="phoneNumber" name="phone" aria-describedby="phoneNumber" ngModel>
            </div>
            <div class="form-group">
                <label for="textarea">Message</label>
                <textarea class="form-control" id="textarea" rows="3" name="message" ngModel></textarea>
              </div>
            <button type="submit" class="btn btn-primary" value = "submit">Send</button>
          </form>
        </div>
        <div class="col-12">
          <p class="text-send mt-3">{{feedbackData}}</p>
        </div>
      </div>
    </div>
  </div>
