<div class="over-ons">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-box">
          <h1 class="title text-center mb-5">Over ons</h1>
          <p class="text text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="col-12 content-box">
            <h2 class="title text-center pt-5">Team Media Shots</h2>
            <div class="container">
                <div class="row">
                    <app-photo class="col-md-4"
                    *ngFor="let photoElm of photos"
                    [photo]="photoElm"></app-photo>
                </div>
            </div>
        </div>    
      </div>
    </div>
</div>
  