.over-ons{
    min-height: 1120px;
    
    .row {
      padding-bottom: 70px;
  
      .text-box {
        margin-bottom: 15px;
  
        h1,
        .text {
          color: white;
          margin-top: 35px;
        }
        
        .text {
          font-size: 18px;
        }
      }

      .content-box {
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
      }
    }
}