<div class="over-ons">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-box">
          <h1 class="title text-center mb-5">{{title}}</h1>
          <p class="text text-center">{{subTitle}}</p>
        </div>
        <div class="col-12 content-box">
            <h2 class="title text-center pt-5">Team Media Shots</h2>
            <div class="container">
                <div class="row">
                    <app-photo class="col-md-4"
                    *ngFor="let photoElm of photos"
                    [photo]="photoElm"></app-photo>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
