<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="video-container">
          <div class="video">
            <div class="background-mobile"></div>
            <iframe
              class="embed-responsive-item"
              frameborder="0"
              [src]="urlSafe"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <span class="text-iframe">{{videoSubtitle}}</span>
          </div>
        </div>
        <div class="video-footer">
          <span
            >{{footerText}}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
