.container {
  padding: 0;
  .navbar-light {
    background-color: rgba(0, 0, 0, 0.7);
    .navbar-nav {
      .nav-link {
        color: rgb(255 255 255 / 50%);
        position: relative;
      }
      .nav-link:hover {
        color: rgb(255 255 255 / 90%);
      }
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: rgb(255 255 255 / 90%);
      }
    }
    .navbar-brand img {
      height: 75px;
      width: auto;
    }
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item:not(:last-child) .nav-link::after {
    content: "";
    display: block;
    height: 13px;
    width: 10px;
    border-right: 1px solid rgb(255 255 255 / 50%);
    position: absolute;
    right: 0;
    bottom: 13px;
  }
}
