
.nav app-item {
    position: relative;
    margin-bottom: 15px;
}

.nav app-item:not(:last-of-type)::after {
    content: '';
    display: block;
    height: 13px;
    width: 10px;
    border-right: 1px solid rgb(255 255 255 / 50%);
    position: absolute;
    right: 0;
    bottom: 13px;
}