<div class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title text-center mb-5">Portfolio</h1>
            <app-nav (loadedNavSelected)="onNavigate($event)"
            [itemsNavElm]="itemsNav"></app-nav>
        </div>
        <div class="col-12">
          <div class="box-container">
            <div class="container">
              <div class="row content">
                  <app-card-portfolio class="col-6"
                  *ngFor="let cardElm of cards"
                  [card]="cardElm"></app-card-portfolio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  