<footer>
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start"
      >
        <ul class="icons">
          <app-social *ngFor="let itemItem of socialIcons"
          [social]="itemItem"></app-social>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
        <span class="email-phone">
          {{ emailAndPhone }}
        </span>
        <span class="adres">{{ adress }}</span>
        <span class="text">
          {{ subText }}
        </span>
      </div>
    </div>
  </div>
</footer>
