<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
        <ul class="icons">
          <li><a href="http://" target="_blank" rel="noopener noreferrer"><img src="../assets/img/social-facebook.png" alt="social-facebook"></a> </li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer"><img src="../assets/img/social-youtube.png" alt="social-youtube"></a></li>
          <li><a href="http://" target="_blank" rel="noopener noreferrer"><img src="../assets/img/social-mail.png" alt="social-mail"></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
          <span class="email-phone">
            email:name@company.com | phone:123.123.1234
          </span>
        <span class="adres">
            12345 Street Name City, ST 12345
          </span>
        <span class="text">
            There are many variations of passages of Lorem Ipsum available
          </span>
      </div>
    </div>
  </div>
</footer>
