footer {
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;

  .container {
    padding: 45px 0;
  }

  .icons {
    margin: 0;
    padding: 25px 0px;
    list-style-type: none;
    display: flex;

    li {
      margin-right: 25px;
      a {
        position: relative;
        bottom: 0;
        transition: all 0.3s ease-in;
      }

      a:hover {
        bottom: 5px;
      }
    }
  }

  .email-phone,
  .adres {
    display: block;
    text-align: center;
  }

  .text {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}
