footer {
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
  z-index: 1;
  color: white;

  .container {
    padding: 45px 0;
  }

  .icons {
    margin: 0;
    padding: 25px 0px;
    list-style-type: none;
    display: flex;

    app-social {
      margin-right: 10px;
    }
  }

  .email-phone,
  .adres {
    display: block;
    text-align: center;
  }

  .text {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}
