<div class="content" [ngStyle]="{backgroundImage: 'url('+ backgroundImage +')'}">
  <app-navigation (featureSelected)="onNavigate($event)"></app-navigation>

  <router-outlet></router-outlet>
<!--   <app-home *ngIf="navigateTo === 'home'"></app-home>

  <app-diensten *ngIf="navigateTo === 'diensten'"></app-diensten>

  <app-werkwijze *ngIf="navigateTo === 'werkwijze'"></app-werkwijze>

  <app-portfolio *ngIf="navigateTo === 'portfolio'"></app-portfolio>

  <app-over-ons *ngIf="navigateTo === 'over-ons'"></app-over-ons>

  <app-contact *ngIf="navigateTo === 'contact'"></app-contact> -->

  <app-footer></app-footer>
</div>
