.content {
    position: relative;
    background-image: url("../assets/img/Video-Webinar.jpg");
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .navbar-light .navbar-nav .nav-link {
        color: rgb(255 255 255 / 50%);
    }
    
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: rgb(255 255 255 / 90%);
    }

    .jumbotron {
        background-color: black;

        iframe {
            width: 100%;
            height: 500px;
        }
    }

    .jumbotron, 
    .samen-werking {
        z-index: 1;
        position: relative;
        margin-top: 100px;

    }

    .samen-werking {
        color: white;
        text-align: center;
        padding-bottom: 100px;
    }

    footer {
        display: flex;
        align-items: center;
        background-color: black;
        position: relative;
        z-index: 1;
        color: white;

        .container {
            padding: 45px 0;
        }

        .icons {
            margin: 0;
            padding: 25px 0px;
            list-style-type: none;
            display: flex;

            li {
                margin-right: 25px;
            }
        }

        .email-phone, 
        .adres {
            display: block;
            text-align: center;
        }

        .text {
            display: block;
            text-align: center;
            margin-top: 15px;
        }
    }
    
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 0rem 0rem 0rem;
    }
}

.content::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: fade-out(#00312b, .2);
    position: absolute;
    top: 0;
    left: 0;
}
