.content {
    position: relative;
    background-image: url("../assets/img/Video-Webinar.jpg");
    display: block;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: fade-out(#00312b, .2);
    position: absolute;
    top: 0;
    left: 0;
}
